@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MVC Core, EF Core > Database First</h1>
    <p>Scaffolding database to automatically create models, controllers and views</p>
</div>
