@{
    ViewData["Title"] = "Service Test";
    ViewData["Subtitle"] = "Test our services";
}
<h1>@ViewData["Title"]</h1>

<br />
<br />

<h3>@ViewData["Subtitle"]</h3>

<br />
<br />



<p>Use this page to test our services.</p>
